@model BuscaBrete.Models.Oferta

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de la Oferta</h1>

<div>
    <h4>Oferta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Requisitos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Requisitos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPublicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPublicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salario)
        </dd>
        <dt class = "col-sm-2">
            Empresa
        </dt>
        <dd class = "col-sm-10">
            @Model.Empresa?.NombreEmpresa ?? @Model.Empresa?.UserName
        </dd>
    </dl>
</div>
<div>
    @if (ViewBag.IsPostulante == true)
    {
        <form asp-controller="Postulacions" asp-action="Create" method="get">
            <input type="hidden" name="ofertaId" value="@Model.Id" />
            <button type="submit" class="btn btn-success">Postular</button>
        </form>
    }
    @if (ViewBag.IsOwner == true)
    {
        <a asp-controller="Postulacions" asp-action="Index" asp-route-ofertaId="@Model.Id" class="btn btn-primary">Ver postulaciones</a>
    }
    <a asp-action="Index" class="btn btn-link">Volver</a>
</div>
