@model BuscaBrete.Models.Postulacion

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de Postulación</h1>

<div>
    <h4>Postulación</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPostulacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPostulacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostulanteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostulanteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfertaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfertaId)
        </dd>
        <dt class = "col-sm-2">Mensaje</dt>
        <dd class = "col-sm-10">@Html.Raw(Model.Mensaje)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
